body {
    margin: 0;
    background-color: #171422;
}

header {
    height: 80px;
    position: relative;

}

header::after {
    content: '';
    background: linear-gradient(220deg, #9E0B37, #FFC531, #9E0B37);
    display: block;
    position: absolute;
    width: 1920px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.conteiner {
    position: relative;
    left: 250px;
}

nav {
    position: absolute;
    top: 30px;
    z-index: 2;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 437px;
    height: 20px;
    position: absolute;
    list-style-type: none;
}

li {
    color: #FFFFFF;
    font-family: Abel;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.39px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

li:not(:last-child) {
    margin-right: 72px;
}

.header_li {
    width: 128px;
    height: 15px;
}

.li_span {
    width: 111px;
    height: 15px;
    top: 2.5px;

    position: absolute;
    font-family: Gotham Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 15.31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.header_li_left {
    width: 12px;
    height: 15px;
    top: 6px;
    left: 123px;
    position: absolute;
    background-image: url(/img/Down_Arrow_3_.png);
    background-repeat: no-repeat;
}

.header_span {
    width: 51px;
    height: 15px;
    top: 32px;
    left: 1170px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 15.31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    z-index: 2;
}

.btn {
    width: 160px;
    height: 49px;
    position: absolute;
    top: 15px;
    left: 1263px;
    padding: 17px 72px 24px 25px;
    border: 0;
    border-radius: 40px;
    z-index: 2;
    background-color: rgba(158, 11, 55, 0.7);
    box-shadow: 4px 4px 6px 0px #FFFFFF80 inset,
        4px 4px 20px 0px #DF5017CC;
}

.btn_span {
    font-family: Gotham Pro;
    font-size: 21px;
    font-weight: 400;
    line-height: 16.27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.works {
    width: 1310px;
    height: 570px;
    top: 0px;
    position: relative;
}

.works::after {
    content: '';
    background: linear-gradient(123.33deg, #DF5017 4.42%, rgba(223, 80, 23, 0.440343) 22.08%, rgba(223, 80, 23, 0.19) 35.36%, rgba(223, 80, 23, 0) 52.74%),
        linear-gradient(90.01deg, #282533 65.15%, #282533 65.15%, rgba(40, 37, 51, 0.739583) 82.21%, rgba(40, 37, 51, 0) 99.99%);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.works_left {
    width: 820px;
    height: 120px;
    top: 176px;
    left: 250px;
    position: absolute;
    z-index: 1;
}

.works_span {
    text-transform: uppercase;
    font-family: Gotham Pro;
    font-size: 53px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.works_img {
    position: absolute;
    width: 1070px;
    height: 648px;
    top: -80px;
    left: 850px;
}

.about {
    position: relative;
    left: 250px;
    top: 82px;
}

.about_div {
    width: 1180px;
    height: 152px;
    border-radius: 30px;
    background: linear-gradient(90.95deg, #FFA462 0%, #B45350 21.79%, #8A2645 48.93%, #291725 84.55%);
    position: absolute;
}

.about_p {
    margin: 0;
    width: 1070px;
    height: 62px;
    position: absolute;
    top: 10px;
    left: 40px;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.cifra_1 {
    width: 78px;
    height: 201px;
    top: 180px;
    left: 0px;
    position: absolute;
}

.about_1 {
    font-family: Gotham Pro;
    font-size: 183px;
    font-weight: 700;
    line-height: 201.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(172.77deg, #8A2645 15.55%, #291725 56.17%, #171422 75.48%);
}

.about_p2 {
    margin: 0;
    width: 1060px;
    height: 62px;
    top: 184px;
    left: 120px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_p3 {
    margin: 0;
    width: 335px;
    height: 25px;
    top: 477px;
    left: 665px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_p4 {
    margin: 0;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_4 {
    width: 1180px;
    height: 113px;
    top: 520px;
    left: 0px;
    position: absolute;
}

.about_img {
    width: 268px;
    height: 62px;
    top: 314px;
    left: 120px;
    border-radius: 12px;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.about_img_2 {
    left: 429px;
}

.about_img_3 {
    left: 737px;
}

.about_img_4 {
    top: 396px;
    left: 120px;
}

.about_img_5 {
    top: 395px;
    left: 429px;
}

.about_img_6 {
    top: 395px;
    left: 737px;
}

.bloc_1 {
    position: absolute;
    top: 11px;
    left: 73px;
}

.bloc_2 {
    position: absolute;
    top: 3px;
    left: 107px;
}

.bloc_3 {
    position: absolute;
    top: 11px;
    left: 54px;
}

.bloc_4 {
    position: absolute;
    top: 11px;
    left: 67px;
}

.bloc_5 {
    position: absolute;
    top: 11px;
    left: 67px;
}

.bloc_6 {
    position: absolute;
    top: 12px;
    left: 61px;
}

.about_5_div {
    width: 116px;
    height: 201px;
    top: 2230px;
    left: 0px;
    position: absolute;
}

.about_4_div {
    width: 127px;
    height: 201px;
    top: 2030px;
    left: 0px;
    position: absolute;
}

.about_3_div {
    width: 114px;
    height: 201px;
    top: 848px;
    left: 0px;
    position: absolute;
}

.about_2_div {
    width: 115px;
    height: 201px;
    top: 650px;
    left: 0px;
    position: absolute;
}

.about_2_p {
    margin: 0;
    width: 1060px;
    height: 62px;
    top: 708px;
    left: 120px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_3_p {
    margin: 0;
    width: 1060px;
    height: 124px;
    top: 850px;
    left: 120px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.galireya {
    width: 220.01px;
    height: 910px;
    top: 0px;
    left: 1200px;
    position: absolute;
    display: flex;
}

.galireya_img {
    width: 220px;
    height: 220px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.galireya_img_1 {
    top: 230px;
}

.galireya_img_2 {
    top: 460px;
}

.galireya_img_3 {
    top: 690px;
}

.galireya_div {
    width: 207.57px;
    height: 35.87px;
    top: 169.78px;
    left: 7.22px;
    border-radius: 23.91px;
    border: 0.96px solid rgba(255, 255, 255, 1);
    position: absolute;
    box-shadow: 1.91px 1.91px 9.57px 0px rgba(255, 255, 255, 0.8);
}

.galireya_div_2 {
    top: 399.78px;
}

.galireya_div_3 {
    top: 629.78px;
}

.galireya_div_4 {
    top: 859.78px;
}

.galireya_text {
    width: 148px;
    height: 13px;
    top: 3px;
    left: 13px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 9px;
    font-weight: 700;
    line-height: 12.72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.text_git {
    top: 4px;
    left: 8px;
}

.galireya_text_2 {
    width: 72px;
    height: 19px;
    top: 15px;
    left: 55px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 10.39px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.text_git_2 {
    top: 15px;
    left: 31px;
    width: 107px;
}

.rich {
    top: -8px;
    left: 165px;
    position: absolute;
}

.about_images {
    width: 273px;
    height: 187px;
    top: 1030.08px;
    left: 240px;
    position: absolute;
    background-image: url(/img/CorelDRW_gIEIFd6TrD.png);
    background-repeat: no-repeat;
}

.about_images_2 {
    width: 278px;
    height: 204px;
    top: 1046.08px;
    left: 602px;
    position: absolute;
    background-image: url(/img/CorelDRW_D3JGGZr4jt.png);
    background-repeat: no-repeat;
}

.about_3_p2 {
    margin: 0;
    width: 1180px;
    height: 155px;
    top: 1280px;
    left: 0px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_3_p3 {
    width: 1060px;
    height: 124px;
    top: 2050px;
    left: 120px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_3_p4 {
    width: 1060px;
    height: 93px;
    top: 2240px;
    left: 120px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_3_p5 {
    width: 1371px;
    height: 93px;
    top: 2475px;
    left: 0px;
    position: absolute;
    font-family: Gotham Pro;
    font-size: 27px;
    font-weight: 400;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.about_pdf {
    width: 97px;
    height: 97px;
    top: 1494px;
    left: 669px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(147.64deg, #FFFFFF 30.8%, #C1C0C4 57.13%, #86848D 72.92%, #343140 82.7%);
    box-shadow: -4px -4px 6px 0px rgba(255, 255, 255, 0.5) inset, -3px -3px 20px 0px rgba(255, 255, 255, 0.18), 10px 10px 20px 0px rgba(0, 0, 0, 0.8);
}

.about_ai {
    top: 1558px;
    left: 330px;
    z-index: 1;
}

.about_coredraf {
    top: 1558px;
    left: 1008px;
    z-index: 1;
}

.about_ai_img {
    width: 54px;
    height: 54px;
    top: 22px;
    left: 22px;
    position: absolute;
}

.about_pdf_img {
    width: 53.22px;
    height: 54.25px;
    top: 20px;
    left: 20px;
    position: absolute;
}

.about_coredraf_img {
    width: 54px;
    height: 54px;
    top: 22px;
    left: 22px;
    position: absolute;
}

.vector {
    width: 140px;
    height: 68px;
    top: 49.98px;
    left: 114.62px;
    position: absolute;
    background-image: url(/img/Vector_rich.png);
    background-repeat: no-repeat;
}

.vector_2 {
    width: 140px;
    height: 68px;
    top: 49.98px;
    left: -155.38px;
    position: absolute;
    background-image: url(/img/Vector_life.png);
    background-repeat: no-repeat;
}

.buklet {
    top: 646px;
    left: -8px;
    position: absolute;
}

.buklet_img {
    width: 246px;
    height: 350px;
    top: 1000px;
    position: absolute;
    border-radius: 10px;
}

.buklet_img_2 {
    left: 264px;
    width: 246px;
    height: 350px;
    top: 1000px;
    position: absolute;
    border-radius: 10px;
}

.buklet_img_3 {
    left: 529px;
    width: 246px;
    height: 350px;
    top: 1000px;
    position: absolute;
    border-radius: 10px;
}

.buklet_img_4 {
    left: 941px;
    width: 246px;
    height: 350px;
    top: 1000px;
    position: absolute;
    border-radius: 10px;
}

img {
    border-radius: 20px;
}


.slideshow-container {
    position: relative;
    margin: auto;
    top: 2758px;
    left: 0px;
}
.slider{
    position: relative;
    margin: auto;
    top: 2778px;
    left: 0px;
}

.carousel-cell{
    height: 280px;
    margin-right: 45px;
}